:root {
    --yellow: rgb(214,195,48);
    --main : rgb(27,21,64);
    --acc: rgb(187,38,193);


}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header-custom {
    background: url(./media/bg-1.jpg);
    background-size: cover;
    background-position: center;
}

.btn-custom {
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.btn-custom:hover {
    background-color: var(--yellow);
    transition: 0.5s;
    color: black;

}

.bi-calendar-week {
    color: var(--yellow);
}

.data {
    font-weight: 700;
}

/* Fine heaeder */

.section2-custom {
    background-color: var(--main);
}

/* fine section  2 */

.calendar-form {
    font-size: 50px;
    background-color: var(--yellow);
    margin: 20px;
    padding: 10px 20px;
    border-radius: 50%;
}

.section3-custom {
    min-height: 70vh;
    background: url(./media/bg-2.jpg);
    background-size: cover;
    background-position: center;
}

.form-custom {
    background-color: var(--main);
    padding: 70px 20px;
    top: 100px;
}

input {
    background-color: var(--main);
    border: none;
    border-bottom: 1px solid var(--acc);
}

.btn-custom3 {
    background-color: var(--yellow);
}

/* fine section 3 */

.section4-custom {
    background-color: rgb(17, 13, 44);
    padding: 100px 20px;
}

.h2-title {
    color: var(--yellow);
}

/* fine section 4 */

.section5-custom {
    background: url(./media/bg-3.jpg);
    background-size: cover;
    background-position: center;
}
